
@{
    ViewData["Title"] = "RetriveData";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>RetriveData</h1>


<p>
    @ViewBag.vb
</p>

<p>
    @ViewData["vd"]
</p>

<p>
    @TempData["td"]
</p>