@{
    ViewData["Title"] = "StoringData";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>StoringData</h1>

<p>
    @ViewBag.vb
</p>

<p>
    @ViewData["vd"]
</p>

<p>
    @TempData["td"]
</p>